$header-bg:url(../img/0.jpg) ;  
$countries-color: white;
$look-at-image-1:url(../img/1.jpg) ;
$look-at-image-2:url(../img/2.jpg);
$look-at-image-3:url(../img/3.jpg);
$footer-bg-color:#3d5585;
$footer-h4-color:#659afe;
$footer-li-color:#4070d7;
$footer-p-button-color:#0a275e;
$your-reviews-bg-color: #8d6f79;
$your-reviews-block-color:#cba2b0;
$fyot-h3-color:#bacedd;
$fyot-bg-color:#8695a2;