$header-bg:url(../img/4.jpg) ;  
$countries-color: #4e2856;
$look-at-image-1:url(../img/5.jpeg) ;
$look-at-image-2:url(../img/6.jpg);
$look-at-image-3:url(../img/7.jpg);
$footer-bg-color:#5d3d85;
$footer-h4-color:#b965f1;
$footer-li-color:#8845d0;
$footer-p-button-color:#4f0a5e;
$your-reviews-bg-color: #8a6f8d;
$your-reviews-block-color:#caa2cb;
$fyot-bg-color:#9f86a2;
$fyot-h3-color:#4f2853;